!.fabric/
!config/
!libraries/
!logs/
!mods/
!polymer/
!versions/
!world/datapacks/
!banned-ips.json
!banned-players.json
!eula.txt
!fabric-server-mc.1.20.1-loader.0.16.9-launcher.1.0.1.jar
!ops.json
!server.properties
!usercache.json
!whitelist.json
