client/
!client/.fabric/
!client/config/
!client/mods/
!client/options.amecsapi.txt
!client/options.txt
!client/state.json

server/
!server/.fabric/
!server/config/
!server/libraries/
!server/logs/
!server/mods/
!server/polymer/
!server/versions/
!server/world/datapacks/
!server/banned-ips.json
!server/banned-players.json
!server/eula.txt
!server/fabric-server-mc.1.19.2-loader.0.14.10-launcher.0.11.1.jar
!server/ops.json
!server/server.properties
!server/start.sh
!server/usercache.json
!server/whitelist.json
