client/backups/
client/crash-reports/
client/dashloader-cache/
client/defaultconfigs/
client/localconfigs/
client/logs/
client/moddata/
client/patchouli_books/
client/saves/
client/screenshots/
client/shaderpacks/
client/usercache.json

server/crash-reports/
server/defaultconfigs/
server/localconfigs/
server/moddata/
server/patchouli_books/

server/bluemap/
server/world/